/* Main Button Area css
============================================================================================ */
.submit_btn{
	width: auto;
	display: inline-block;
	background: $white_color;
	padding: 0px 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $border_color;
	cursor: pointer;
	@include transform_time(0.5s);
	&:hover{
		background: transparent;
		
	}
}
.btn_1{
	display: inline-block;
	padding: 27px 70px;
	background-color: $base_color;
	font-size: 14px;
	color: $white_color;
    @include transform_time(0.5s);
	text-transform: capitalize;
	border: 1px solid transparent;
	border-radius: 50px;
	line-height: 15px;
	&:hover{
		color: $white_color !important;
		background-color: $btn_hover;
	}
	@media #{$small_mobile}{
		padding: 10px 30px;
		margin-top: 25px;
	}
	@media #{$large_mobile}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$tab_device}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$medium_device}{
	
	}

}
.btn_2{
	display: inline-block;
	padding: 13px 39px;
	background-color: transparent;
	border: 1px solid $menu_color;
	color: $menu_color;
	font-size: 14px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-transform: capitalize;
	background-size: 200% auto;
	font-size: 15px;
	font-weight: 500;
	&:hover{
		color: $white_color !important;
		background-position: right center;
		@extend %custom_btn_bg_1;
		border: 1px solid transparent;
	}
	@media #{$small_mobile}{
		padding: 14px 30px;
		margin-top: 25px;
	}
	@media #{$large_mobile}{
		padding: 14px 30px;
		margin-top: 30px;
	}
	@media #{$tab_device}{
		padding: 14px 30px;
		margin-top: 30px;
	}
	@media #{$medium_device}{
	
	}
}
.btn_3{
	color: $heading_color;
	text-transform: capitalize;
	font-size: 14px;
	position: relative;
	display: inline-block;
	@include transform_time(0.5s);
	&:after{
		position: absolute;
		content: "";
		left: 0;
		bottom: -8px;
		width: 100%;
		height: 2px;
		background-color: #e8e9eb;
		@include transform_time(0.5s);
	}
	&:hover{
		color: $btn_bg;
		&:after{
			left: 15px;
			background-color: $btn_bg;
		}
	}
}
.btn_4{
	background-color: $btn_bg;
	padding: 3.5px 21px;
	background: rgba(255, 102, 59, 1);
	text-transform: capitalize;
	display: inline-block;
	border: 2px solid transparent;
	@include transform_time(0.5s);
	color: $white_color;
	&:hover{
		background: rgba(255, 102, 59, .8);
		color: $white_color;
	}

}
/*=================== custom button rule start ====================*/

.button{
	display: inline-block;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 54px;
	border-radius: 4px;
	color: $white_color;
	border: 1px solid $border_color;
	text-transform: uppercase;
	background-color: $btn_bg;
	cursor: pointer;
	@include transform_time(0.5s);

	@media(max-width: 767px){
		font-size: 13px;
		padding: 9px 24px;
	}

	&:hover{
		color: $white_color;
	}


	&-link{
		letter-spacing: 0;
		color: #3b1d82;
		border: 0;
		padding: 0;

		&:hover{
			background: transparent;
			color: #3b1d82;
		}
	}

	&-header{
		color: $white_color;
		border-color: $border_color;

		&:hover{
			background: #b8024c;
			color: $white_color;
		}
	}

	&-contactForm{
		color: $white_color;
		border-color: $border_color;
		padding: 18px 35px;
		border-radius: 0;
		&:hover{
			// border-color: $title-color;
			// background: $title-color;
			// color: $white_color;
		}
	}
}


/* End Main Button Area css
============================================================================================ */