
<!DOCTYPE html>
<html>
    <head>

        <style>
            #map {
                height: 100%;
            }

            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #over_map {
                position: absolute;
                top: 10px;
                left: 89%;
                z-index: 99;
                background-color: #ccffcc;
                padding: 10px;
            }
        </style>
    </head>

    <body>
        <div id="map"></div>

        <div id="over_map">
            <div>
                <span>Online Cars: </span><span id="cars">0</span>
            </div>
        </div>

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script>
            // Replace your Configuration here..
            var config = {
                apiKey: "AIzaSyB6s7DSe9M6MZk7g77cMTuoqIO6d-ebKwI",
                authDomain: "garbage-truck-monitoring.firebaseapp.com",
                databaseURL: "https://garbage-truck-monitoring.firebaseio.com",
                projectId: "garbage-truck-monitoring",
                storageBucket: "garbage-truck-monitoring.appspot.com",
                messagingSenderId: "549306067582",
                appId: "1:549306067582:web:bbaeac9ec829045099c62f",
                measurementId: "G-X9JCRW3TR0"
              };
            firebase.initializeApp(config);
        </script>

        <script>

            // counter for online cars...
            var cars_count = 0;

            // markers array to store all the markers, so that we could remove marker when any car goes offline and its data will be remove from realtime database...
            var markers = [];
            var map;
            function initMap() { // Google Map Initialization... 
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: new google.maps.LatLng(19.3458748, 72.80322774),
                    mapTypeId: 'terrain'
                });
            }

            // This Function will create a car icon with angle and add/display that marker on the map
            function AddCar(data) {

                console.log("method called")

                var uluru = { lat: parseFloat(data.val().latitude), lng: parseFloat(data.val().longitude) };
                console.log(data.val().latitude,  uluru.lng)
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });

                markers[data.key] = marker; // add marker in the markers array...
                document.getElementById("cars").innerHTML = cars_count;
            }

            // get firebase database reference...

            var cars_Ref = firebase.database().ref('RealTimeMonitoring/' + {{ date }} + "/");
            console.log(cars_Ref)
            // this event will be triggered when a new object will be added in the database...
            cars_Ref.on('child_added', function (data) {
                console.log("in method added")
                cars_count++;
                AddCar(data);
            });

            // this event will be triggered on location change of any car...
            cars_Ref.on('child_changed', function (data) {
                console.log("in method cheng")
                markers[data.key].setMap(null);
                AddCar(data);
            });

            // If any car goes offline then this event will get triggered and we'll remove the marker of that car...  
            cars_Ref.on('child_removed', function (data) {
                markers[data.key].setMap(null);
                cars_count--;
                document.getElementById("cars").innerHTML = cars_count;
            });

        </script>
      
             <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap">
        </script>

    </body>
</html>