<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style>
        div{
        position : absolute;
        right : 10px;
        top : 5px
        }
    </style>
</head>
<body>
<div>

<button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
    </div>
Welcome {{e}}
<br><br>
<button type="button" onclick="location.href='{% url 'routes' %}'">Generate Routes</button>
<button type="button" onclick="location.href='{% url 'vehicles' %}'">Add Vehicle</button>
<button type="button" onclick="location.href='{% url 'check' %}'" >View Data</button>
<button type="button" onclick="location.href='{% url 'create_driver' %}'">Add Driver</button>
<button type="button" onclick="location.href='{% url 'create_bin' %}'">Add Bin</button>
<button type="button" onclick="location.href='{% url 'create_depot' %}'">Add Depot</button>
<button type="button" onclick="location.href='{% url 'create_dump' %}'">Add Dumping Ground</button>
<button type="button" onclick="location.href='{% url 'check_queries' %}'">View Queries</button>
<button type="button" onclick="location.href='{% url 'real_time' %}'">Real Time</button>
<a href="{% url 'latlong' %}"><button type="button">View Status</button></a>

</body>
</html>